.navbar-toggler-icon:hover{
    background-color: white;
    border-radius: 5px;
}
.navbar img{
    width: 80px;
}
.navbar ul li a{
    color:white;
    margin: 5px;
}
.navbar ul li a:hover{
    background-color: white;
    border-radius: 20px;
    color: black;
}
.hr{
    width: 40%;
    height: 5px;
    margin: auto;
   background-color:white;
    
}
hr{
    width: 30%;
    background-color: white;
}
section{
    background-color: black;
    color: white;
}


